<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar" >
  <div class="container-fluid">
    <a class="navbar-brand" href=<%= lists_path %>>
      <%= image_tag("PopCornIcon.png") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" data-navbar-target="links" href= <%= lists_path %> >Home</a>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

