.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  margin: 15px;
}

.card-category a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.6);
}

.text_link:hover{
  color: white;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  font-size: 28px;

}


.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 60px;
  //justify-content:space-between;
  grid-gap: 20px;
}

.bg-new{
  background-color: rgba(196, 193, 204, 0.1);
  padding: 1.0rem;
  margin: 1.2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px;
}

.star-color{
  color: #880101;
}
